@import 'src/styles/variables';
@import 'src/styles/mixins';

.wrapper {
  @include flex-center;

  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $color-secondary;
  font-size: calc(10px + 2vmin);
  font-family: sans-serif;
  color: white;
}

.header {
  @include flex-center;

  flex-direction: column-reverse;
  padding: 1em 0;
}

.button {
  cursor: pointer;
  padding: 1em;
  color: $color-light;
  border: 1px solid $color-primary;
  background-color: $color-secondary;
}
